* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 80px;
    display: flex;
    background-color: black;
    justify-content: space-between;
    background-color: #4a154b;
}

.container .heading img {
    margin-left: 20px;
    width: 150px;
    height: 80px;
}

.nav-links {
    display: flex;
    align-items: center;
    margin-right: 200px;
}

.nav-links a {
    text-decoration: none;
    color: aliceblue;
    padding-right: 20px;
    font-size: small;
    font-weight: 700;
    font-family: 'Baloo Bhai 2', cursive;
}

.nav-links-end {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.nav-links-end button {
    background-color: #4a154b;
    padding: 10px;
    color: #fff;
    border-radius: 4px;
    margin-right: 10px;
    border: 1px solid white;
}

.nav-links-end i {
    padding-right: 20px;
    color: white;
    font-weight: 600;
}

.nav-links-end .but {
    padding: 10px 20px;
}

.nav-links-end .butt {
    background-color: #fff;
    padding: 10px 20px;
    color: black;
    margin-right: 20px;
}

.nav-links-end .but:hover {
    box-shadow: 0px 0px 10px #fff;
}

.nav-links-end .butt:hover {
    box-shadow: 0px 0px 10px #fff;
}


/* -------------------navbar finish--------------- */


/* ----------------------section-1--------------------- */

.container-1 {
    width: 100%;
    height: 600px;
    background-color: #4a154b;
}

h1 {
    font-size: 60px;
    color: #fff;
    font-weight: 200px;
}

h2 {
    color: white;
    padding-left: 220px;
    padding-top: 100px;
    font-size: 35px;
}

.box1 {
    display: flex;
    padding-left: 220px;
    padding-top: 100px;
}

.box2 {
    border: 1px double #4a154b;
    width: 900px;
    height: 95px;
    background-color: #fff;
    display: flex;
    margin-top: 20px;
    margin-left: 230px;
    align-items: center;
    /* font-size: small; */
}

.box2 img {
    margin-top: 29px;
    background-size: cover;
}

.box2 button {
    margin-left: 100px;
    /* padding: 2px 100px; */
    padding: 10px;
    border: 2px solid #4a154b;
    border-radius: 4px;
    background-color: #fff;
    color: #4a154b;
}

h5 {
    display: inline;
    margin-left: 20px;
}

h4 {
    color: white;
    margin-top: 60px;
    text-align: center;
}

h4 a {
    text-decoration: none;
    color: #69b3ec;
    font-family: 'Roboto Slab', serif;
}


/* -sidebar-color: #400d40;
    --sidebar-highlight-color: #1264a3;
    --attachment-color: #000;
    --more-count: '+1';
    --article-theme-primary: #4a154b;
    --article-theme-secondary: #fff; */