.container {
    width: 100%;
    height: 80px;
}

.container .heading img {
    width: 100px;
    height: 60px;
}


/* -sidebar-color: #400d40;
    --sidebar-highlight-color: #1264a3;
    --attachment-color: #000;
    --more-count: '+1';
    --article-theme-primary: #4a154b;
    --article-theme-secondary: #fff; */